* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-container {
    position: relative;
}

input {
    width: 250px;
    height: 40px;
    padding: 0 40px 0 10px;
    border-radius: 10px;
    border: none;
}

#btn-senha {
    position: absolute;
    right: 10px;
    top: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.erro {
    font-size: 13px;
    color: #ff4d4d;
}

.erro:empty {
    display: none;
}
